.create-post-container {
  width: 100%;
  min-height: 85vh;
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 1rem 2rem;
  justify-content: flex-start;
  align-items: left;

  h2 {
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
    padding: 1rem;
    color: #fff;
  }
  .create-post-form-container {
    width: 100%;
    padding: 1rem;
  }
}
