.login-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;    

    #login-input{
        width: 100%;
        border: none;
        color: #fff;
        padding: 0.5rem;
        margin: 0.5rem 0;
        border-bottom: 1px solid #ccc;

        &:focus{
            outline: none;
            border-bottom: #1db954 2px solid;
            transition: 0.2s ease;
        }
    }

    .btn{
        width: 50%;
        color: #fff;
        margin: 1rem 0;
    }
}